<h1>Create a short URL</h1>

<%= form_tag short_urls_create_path do %>
  <%= label_tag :url, 'URL to shorten' %>
  <%= text_field_tag :url %>
  <br>

  <%= submit_tag 'Save', class: 'btn-primary' %>
<% end %>
